@model List<ProductBasketVM>
@{
    ViewData["Title"] = "Basket";
}

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProductBasketVM item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Price</td>
                            <td>@item.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <form method="post">
                <input type="submit" class="btn btn-success" value="Buy now" />
            </form>
        </div>
    </div>

