@model Category
@{
    ViewData["Title"] = "Detail";
}

    <div class="row">
        <div class="col-12">
            <h2>@Model.Name</h2>
            <p>@Html.Raw(Model.Description)</p>
        </div>
        <div class="col-12">
            <a asp-action="Index" class="btn btn-dark">Go Back</a>
        </div>
    </div>

