@model Slider
@{
    ViewData["Title"] = "Detail";
}

    <div class="row">
        <img src="~/img/@Model.Image" width="450" alt="Alternate Text" />
    </div>
    <div class="row">
        <a asp-action="Index" class="btn btn-dark">Go Back</a>
    </div>

